body {
  font-family: sans-serif;
  background-color: #c9eddc;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#website-header {
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  letter-spacing: 0.25rem;
  font-size: 3rem;
  color: #41504b;
}

.map-container {
  height: 500px;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}

.map {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#address-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#address-form-info {
  font-family: 'PT Sans';
  font-size: 1.25rem;
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

#address-form input {
  width: 25rem;
}

#middle-coords {
  font-family: 'PT Sans';
  text-align: center;
  margin-top: 1rem;
  color: #41504b;
}

.midpoint-results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#find-spot-button,
#start-over-button {
  background-color: #89b6a5;
  color: #4c3b4d;
  border-style: none;
  font-family: 'PT Sans';
  padding: 12px;
  border: 1px solid #4c3b4d;
  border-radius: 3px;
}
#find-spot-button:hover,
#start-over-button:hover {
  background-color: #82968c;
}

#start-over-button {
  margin-top: 1rem;
}
