body {
  font-family: sans-serif;
  background-color: #c9eddc;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#website-header {
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  letter-spacing: 0.25rem;
  font-size: 3rem;
  color: #41504b;
}

.map-container {
  height: 500px;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}

.map {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#address-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#address-form-info {
  font-family: 'PT Sans';
  font-size: 1.25rem;
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

.address-input input {
  width: 25rem;
  margin-bottom: 0;
}

.travel-form-wrapper {
  display: flex;
  flex-direction: column;
}

.travel-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  width: 50%;
}

.travel-type {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.75rem 1rem 0 0;
}
#walking-travel,
#driving-travel,
#cycling-travel {
  margin-top: none;
}

#middle-coords,
.travel-time,
.yelp-results {
  font-family: 'PT Sans';
  text-align: center;
  margin-top: 1rem;
  color: #41504b;
}

.travel-time-results,
.yelp-results {
  display: flex;
  flex-direction: row;
}

.travel-time {
  width: 25rem;
}

.midpoint-results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yelp-results {
  width: 50rem;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant,
.event {
  margin: 1rem;
  width: 15rem;
}

.event-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#find-spot-button,
#start-over-button,
#find-food-button,
#find-events {
  background-color: #89b6a5;
  color: #4c3b4d;
  border-style: none;
  font-family: 'PT Sans';
  padding: 12px;
  border: 1px solid #4c3b4d;
  border-radius: 3px;
  margin-top: 1rem;
}

#find-food-button {
  margin-right: 1rem;
}

#find-spot-button:hover,
#start-over-button:hover,
#find-food-button:hover,
#find-events:hover {
  background-color: #82968c;
}
